.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.fab-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
}
.chat-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.chat-main{
  display:flex;
}
.chat-info{
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.chat-name{
  font-weight: 700;
}
.header-right{
  width: 20%;
  display: flex;
  justify-content: space-between;
}