<div class="chat-container">
    <div class="background-glow"></div>
    <div class="chat-header">
        <div class="header-content">
            <h1 class="header-title">Profile</h1>
        </div>
    </div>

    <div class="profile-content">
        <div class="avatar-section">
            <img [src]="getAvatarUrl(user.username)" alt="avatar">
        </div>

        <div class="form-container">
            <div class="input-group">
                <p-floatlabel>
                    <input pInputText id="username" [(ngModel)]="user.username" autocomplete="off" />
                    <label for="username">Username</label>
                </p-floatlabel>
            </div>
            <br>
            <div class="input-group">
                <p-floatlabel>
                    <input pInputText id="email" [(ngModel)]="user.email" autocomplete="off" />
                    <label for="email">Email</label>
                </p-floatlabel>
            </div>
            <br>
            <div class="input-group">
                <p-floatlabel>
                    <textarea id="bio" rows="5" pTextarea [(ngModel)]="user.bio" autocomplete="off"></textarea>
                    <label for="bio">Bio</label>
                </p-floatlabel>
            </div>

            <div class="action-buttons">
                <p-button (click)="updateUser()" label="update" />
            </div>
        </div>
    </div>

    <div class="bottom-navigation">
        <button class="nav-button" (click)="navigateToHome()">
            <i class="pi pi-comment"></i>
        </button>
        <button class="nav-button">
            <i class="pi pi-cog"></i>
        </button>
        <button class="nav-button active">
            <i class="pi pi-user"></i>
        </button>
    </div>
</div>