.container{
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    margin-top: 1rem;
    background-color: #2B2A2A;
    padding: 1rem;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
p-floatlabel > *{
    width: 100%;
}
.bio {
    height: 19vh;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    border: 1px solid #007F73;
}