<div class="container">
  <p-card header="Register">
    <p class="m-0">
      <a [routerLink]="['/signin']">← <strong>Back</strong></a>
      <br><br><br>
      <p-floatlabel>
        <input pInputText id="username" [(ngModel)]="user.username" autocomplete="off" />
        <label for="username">Username</label>
      </p-floatlabel>
      <br><br>
      <p-floatlabel>
        <input pInputText id="email" [(ngModel)]="user.email" autocomplete="off" />
        <label for="email">Email</label>
      </p-floatlabel>
      <br><br>
      <p-floatLabel>
        <p-password [(ngModel)]="user.password" inputId="password" [feedback]="false" [toggleMask]="true" />
        <label for="password">Password</label>
      </p-floatLabel>
      <br><br>
      <p-floatLabel>
        <p-password [(ngModel)]="confirmPassword" inputId="confirmPassword" [feedback]="false" [toggleMask]="true" />
        <label for="confirmPassword">Confirm Password</label>
      </p-floatLabel>
      <br><br>
      <p-button [style]="{width: '100%'}" label="Sign In" (click)="register(user)" [disabled]="!checkForm()"/>
    </p>
  </p-card>
</div>

<!--DIALOG-->
  <p-dialog [modal]="true" [(visible)]="errorMessage" [style]="{ width: '25rem' }">
    <p class="dialog-msg">An error Occurred, please try again later.</p>
  </p-dialog>

  <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <p class="dialog-msg">A verification code will be sent to your email address within 5 minutes. Please check your inbox and spam folder.</p>
    <br><br>
    <input (input)="onType($event)" pInputText id="verificationCode" class="flex-auto" autocomplete="off" style="width: 100%;"/>
    <br><br>
    <p class="dialog-msg">Fill in the input field with the verification code sent to your email to proceed with registration.</p>
  </p-dialog>
