<div class="header">
    <h2>WeChat</h2>
    <i class="pi pi pi-cog" style="font-size: 1.5rem"></i>
</div>
<p-button icon="pi pi-plus" [rounded]="true" [style]="{ width: '4rem', height: '4rem' }" class="fab-btn" variant="outlined" severity="success" />

<p-listbox
  [options]="chats"
  [(ngModel)]="selectedChat"
  optionLabel="name"
  styleClass="chat-list"
  [filter]="true"
  [listStyle]="{ maxHeight: '100vh' }"
>
  <ng-template let-chat pTemplate="item">
    <div class="chat-item" (click) = "navigateToChat(chat.id)">
      <div class="chat-main">
        <p-avatar
        [image]="getAvatarUrl(chat.name)"
        shape="circle"
        size="large"
        ></p-avatar>
        <div class="chat-info">
          <span class="chat-name">{{ chat.name }}</span>
          <small class="chat-last">{{ chat.lastMessage }}</small>
        </div>
        </div>

      <div class="chat-meta">
        <small>{{ chat.updatedAt | date:'shortTime' }}</small>
      </div>
    </div>
  </ng-template>
</p-listbox>
